img{
	width: 128px;
	margin-top: 2em;
}


h3{
	font-family: "Yantramanav";
}

p{
	font-family: "Lato";
}

.fancyFont{
	font-family: "Yantramanav";
}

#footer{
	background-color: grey;
	color: white;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.footerLink{
	font-family: "Yantramanav";
	color: rgba(213,211,224,1.00);
}

.footerList{
	font-family: "Lato";
}

.basic {
	margin-bottom: 8px;
}

.box{
	background-color: rgb(230,230,230);
	padding: 25px;
	border-radius: 2em;
	border: 1em solid white;
}